/*
*   Style: monokai
*   https://xyproto.github.io/splash/docs/monokai.html
*/

$color: #f8f8f2;
$background-color: #272822;
$error-color: #bb0064;
$keyword-color: #66d9ef;
$text-color: $color;
$name-color: #a6e22e;
$literal-color: #e6db74;
$number-color: #ae81ff;
$comment-color: #75715e;
$operator-color: #f92672;
$preproc-color: #f92672;

@import "common.scss";
